<mtapp:setting
    id="read_at_once"
    label="<__trans phrase="Read at once">">
<input type="text" style="width: 50px;" name="read_at_once" value="<$mt:var name="read_at_once" escape="html"$>" />
</mtapp:setting>
